@model MoviesProject.Models.Movie

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<h4>Movie</h4>
<dl>
    @Html.AntiForgeryToken()

    <dt>@Html.DisplayNameFor(m => m.title)</dt>
    <dd>@Html.DisplayFor(m => m.title)</dd>


    <dt>@Html.DisplayNameFor(m => m.releaseDate)</dt>
    <dd>@Html.DisplayFor(m => m.releaseDate)</dd>


    <dt>@Html.DisplayNameFor(m => m.genre)</dt>
    <dd>@Html.DisplayFor(m => m.genre)</dd>

    <dt>@Html.DisplayNameFor(m => m.images)</dt>
    <dd>@Html.DisplayFor(m => m.images)</dd>


    <dt>@Html.DisplayNameFor(m => m.price)</dt>
    <dd>@Html.DisplayFor(m => m.price)</dd>


</dl>
@using (Html.BeginForm())
{
    <input type="submit" value="Confirm Delete" />
}
@Html.ActionLink("Back to List", "Index")
